<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        ${repeat(this.months, (month, i)=>html`
        <zc-month-calendar start-year="2020" start-month$="${i}"></zc-month-calendar>
        `)} 
    </div>

</body>
</html>